body {
    background-color: #e6e6e6;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: auto; 
    padding-bottom: 10%;
    padding-top: 5%;
    gap: 24px;
}

.header-center {
    display: flex;
    justify-content: center;
}

.delete-button, .edit-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.delete-button i, .edit-button i {
    font-size: 16px;
    color: #333;
}

 #task-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.task {
    display: flex;
    align-items: center;
    width: 250px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.task-para{
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#task-input{
    width: 225px;
    height: 25px;
}

#submitBtn {
    height: 30px;
}